<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Quiubo parce!...
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, non, mollitia illo nesciunt aliquid recusandae expedita perferendis, eaque officiis molestias nobis unde. Inventore optio qui atque perspiciatis repellat, a minus.</p>
    <a href="0">Soy un enlace</a>
    
</body>
</html>